#background {
    background-image: url("../assets/52953642472_c31e3c1233_k.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 10px;
}

app-sidebar {
    
}

app-main {
    width: 75vw;
}