#background {
    background-image: url("../assets/aircraft-landing-sunset.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

app-sidebar {
    display: inline-block;
}

app-main {
    display: inline-block;
}