#background {
    background-image: url("../assets/51001182958_65a5ff642f_k.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

app-sidebar {
    display: inline-block;
}

app-main {
    display: inline-block;
}